
table tbody tr.selected {
    background: #565353;
    color: #FFFFFF;
}

.backgrid td, .backgrid th {
    border: 0;
}

.backgrid > thead > tr {
    border: 0;
}

.backgrid > tbody > tr:first-of-type td {
    padding-top: 12px;
}


#grid {
    height: calc(~"100% - 180px");
    overflow: auto;
}


.backgrid-paginator a {
    color: #979797;
}

.backgrid-paginator ul {
    margin-top:10px ;
}
.backgrid th {
    background-color: inherit !important;
    text-align: left;
}
